@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #8274e8;
}


body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

main {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 600px;
  color: white;
  opacity: .75;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}